
<% if not @entries.empty? then %>
<%   @entries.each do |entry|%>
<div class="entry">
	<%=render :partial => "entry", :locals => {:entry => entry}%>
</div>
<%   end%>
<% else %>
<div class="entry">
	<%=render :partial => "entry", :locals => {:entry => @entry}%>
</div>
<% end %>
